* {
    margin: 0;
    padding: 0;
}

body {
    background: #FFF;
    color: #4A4A4A;
    font: 14px/1.5 "Pingfang SC", sans-serif;
}
a {
    text-decoration: none;
}
.wrap {
    margin: 0 auto;
    width: 1280px;
}
.flex-box {
    display: flex;
    justify-content: space-between;
}
@font-face{
    font-family: 'DIN';
    src : url('./DIN-Medium.otf');
}
/* section-1 begin */
.section-1-container {
    background-image: url(../images/section-1@2x.png);
    background-size: cover;
}
.section-1 {
    height: 600px;
    /* background: #ddd; */
}
.logo-box {
    padding: 56px 0 0 58px;
    width: 108px;
    height: 34.6px;
}
.logo-box img {
    width: 100%
}
.s1-title {
    padding-top: 118px;
    padding-bottom: 10px;
    font-family: PingFangSC;
    font-size: 56px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 6.6px;
    color: #ffffff;
    text-align: center;
}
.s1-line {
    margin: 0 auto;
    width: 673px;
    height: 1px;
    opacity: 0.5;
    background-color: #d8d8d8;
}
.s1-des {
    padding-top: 20px;
    padding-bottom: 70px;
    font-family: PingFangSC;
    font-size: 32px;
    letter-spacing: 30px;
    color: #ffffff;
    text-align: center;
    font-weight: normal;
}
.my-button {
    width: 290px;
    height: 70px;
    border-radius: 5px;
    background-color: #c29363;
    margin: 0 auto;
    font-family: PingFangSC;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    color: #ffffff;
    line-height: 70px;
    cursor: pointer;
}
/* section-1 end */

/* section-1 begin */
.section-2 {
    box-sizing: border-box;
    height: 360px;
    padding: 81px 136px 78px 143px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.s-2-item {
    width: 208px;
    text-align: center;
}
.s2-image-box {
    height: 138px;
    width: 138px;
    margin: 0 auto;
}
.s2-image-box img {
    width: 100%;
}
.s-2-item p {
    padding-top: 30px;
    font-family: PingFangSC;
    font-size: 24px;
    font-weight: 500;
    color: #4a4a4a;
    text-align: center;
}
/* section-2 end */

/* section-3 begin */
.section-3-container {
    background: #f8f8f8;
}
.section-3 {
    box-sizing: border-box;
    padding: 0 88px;
    height: 433px;
    position: relative;
}
.s3-image-box {
    height: 433px;
    width: 1013px;
    position: absolute;
    left: 163px;
    /* z-index: -100; */
}
.s3-image-box img {
    width: 100%;
}
.s3-content {
    box-sizing: border-box;
    position: absolute;
    height: 433px;
    width: 1104px;
    padding-top: 82px;
    padding-bottom: 71px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}
.s3-item-box {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   flex-wrap: nowrap;
}
.s3-item {
    /* width: 300px; */
}
.s3-line {
    width: 30px;
    height: 4px;
    background: #ED6C00;
}
.s3-number {
    font-family: DIN;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #4a4a4a;
}
.s3-des {
    font-family: PingFangSC;
    font-size: 20px;
    color: #7a7a7a;
}
/* section-3 end */

/* section-4 begin */
.section-4-container {
    background-image: url(../images/section-4@2x.png);
    background-size: cover;
}
.section-4 {
    height: 300px;
}
.s4-title {
    background-image: linear-gradient(to bottom, #efc48e, #c4915e);
    font-family: PingFangSC;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 5.9px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding-top: 85px;
}
.s4-des {
    padding-top: 36px;
    text-align: center;
}
.s4-text {
    font-family: PingFangSC;
    font-size: 26px;
    color: #c89d76;
}
.s4-line {
    opacity: 0.8;
    font-size: 22px;
    color: #ffffff;
    padding: 0 11px;
    font-weight: 300;

}
/* section-4 end */
/* section-5 bigin */
.section-5 {
    height: 602px;
    /* background: #f3f3f3; */
    padding-top: 60px;
    box-sizing: border-box;
}
.s5-title {
  text-align: center;
  font-family: PingFangSC;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1.9px;
  color: #4a4a4a;
  padding-bottom: 15px;
}
.s5-line {
    width: 40px;
    height: 4px;
    margin: 0 auto;
    background: #ED6C00;
}
.s5-content {
    padding: 42px 88px 60px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.s5-card {
    box-sizing: border-box;
    width: 315px;
    height: 380px;
    padding: 32px 20px 8px;
}
.s5-card:hover {
    box-shadow: 0 5px 14px 4px rgba(225, 225, 225, 0.5);
}
.s5-image-box {
    height: 140px;
    width: 140px;
    margin: 0 auto;
}
.s5-image-box img {
    width: 100%;
}
.s5-image-des {
    text-align: center;
    font-family: PingFangSC;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.8px;
    color: #804c14;
    padding-bottom: 20px;
}
.s5-des {
    text-align: justify;
    font-family: PingFangSC;
    font-size: 16px;
    letter-spacing: 1.8px;
    color: #9b9b9b;
}
/* section-5 end */
/* section-6 bigin */
.section-6-container {
    background: #f3f3f3;
}
.section-6 {
    box-sizing: border-box;
    height: 519px;
    padding: 60px 88px;
}
.s6-content {
    padding: 60px 0 50px;
    display: flex;
    height: 156px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.s6-item-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}
.s6-item-title-box {
    padding-bottom: 10px;
}
.s6-image-box {
    display: inline-block;
    vertical-align: bottom;
    height: 26px;
    width: 26px;
    /* background: #ED6C00 */
}
.s6-image-box img {
    width: 100%;
}
.s6-item-title {
    display: inline-block;
    vertical-align: bottom;
    font-family: PingFangSC;
    font-size: 18.2px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 2.3px;
    color: #4a4a4a;
    padding-left: 6px;
}
.s6-item-des {
    font-family: PingFangSC;
    font-size: 16px;
    line-height: 1.65;
    letter-spacing: 2.3px;
    color: #888888;
    padding-left: 34px;
}
/* section-6 end */

/* footer */
.wrap-footer {
    margin: 0 auto;
    width: 1000px;
}

#footer {
    padding-top: 60px;
    background: #212121;
    color: #BEBEBE;
    height: 300px;
}

#footer a {
    color: #CCC;
}

#footer a:hover {
    color: #EFEFEF;
}

#footer .qrcode {
    width: 330px;
}

#footer .qrcode div {
    float: left;
    margin-right: 20px;
    width: 128px;
    text-align: center;
    color: rgba(255, 255, 255, 0.25);
}

#footer .qrcode img {
    display: block;
    width: 128px;
}

#footer .fsoo-article {
    line-height: 1.8;
}

#footer .fsoo-article li {
    margin-left: 2em;
}

#footer .contact {
    list-style: none;
    line-height: 1.8;
}

#footer .contact li {
    list-style: none;
}

#footer .contact li label {
    display: inline-block;
    width: 4em;
}

#footer .contact li .guide {
    display: block;
    margin: 1em 0 0 4em;
    padding: .3em 1.5em;
    width: 5em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
}

#footer .contact li .guide:hover {
    background: #FFF;
    color: #212121;
}

#footer .job-link {
    padding: 2em 0 0 2em;
    list-style: none;
}

#footer .job-link .job a {
    display: inline-block;
    padding: 8px 14px 7px;
    background: rgba(255, 255, 255, 0.1);
    color: #ED6C00;
    font-weight: bold;
}

#footer .job-link .job a:hover {
    background: #FFF;
}

#footer .job-link .job-subtitle {
    padding-top: 14px;
    opacity: .75;
}

/* 二维码弹出modal */
.qrcode-modal-box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
}
.modal-mask {
    opacity: 0.5;
    background: #000;
    height: 100%;
    width: 100%;
}
.close-modal {
    font-size: 40px;
    position: absolute;
    right: 40px;
    top: 20px;
    color: #fff;
    font-weight: 300;
    cursor: pointer;
}
.qrcode-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    margin-left: -100px;
    margin-top: -200px;
}
.qrcode-img-box {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    overflow: hidden;
}
.qrcode-img-box img {
    width: 100%;
}
.qrcode-title {
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
    padding-bottom: 10px;
}